<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fshl.xy.weizhan.dao.ImgTextDao" >
  <resultMap id="BaseResultMap" type="com.fshl.xy.weizhan.entity.ImgText" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="buid" property="buid" jdbcType="INTEGER" />
    <result column="site_id" property="siteId" jdbcType="INTEGER" />
    <result column="it_type" property="itType" jdbcType="CHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="data_time" property="dataTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_uptime" property="lastUptime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.fshl.xy.weizhan.entity.ImgText" extends="BaseResultMap" >
    <result column="remark" property="remark" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="BaseColumnList" >
    id, buid, site_id, it_type, img, data_time, status, create_time, last_uptime
  </sql>
  <sql id="Blob_Column_List" >
    remark
  </sql>
  <select id="findByPK" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="BaseColumnList" />
    ,
    <include refid="Blob_Column_List" />
    from img_text
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPK" parameterType="java.lang.Integer" >
    delete from img_text
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fshl.xy.weizhan.entity.ImgText" >
    insert into img_text (id, buid, site_id, 
      it_type, img, data_time, 
      status, create_time, last_uptime, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{buid,jdbcType=INTEGER}, #{siteId,jdbcType=INTEGER}, 
      #{itType,jdbcType=CHAR}, #{img,jdbcType=VARCHAR}, #{dataTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{lastUptime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPK" parameterType="com.fshl.xy.weizhan.entity.ImgText" >
    update img_text
    <set >
      <if test="buid != null" >
        buid = #{buid,jdbcType=INTEGER},
      </if>
      <if test="siteId != null" >
        site_id = #{siteId,jdbcType=INTEGER},
      </if>
      <if test="itType != null" >
        it_type = #{itType,jdbcType=CHAR},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="dataTime != null" >
        data_time = #{dataTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUptime != null" >
        last_uptime = #{lastUptime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.fshl.xy.weizhan.entity.ImgText" >
    update img_text
    set buid = #{buid,jdbcType=INTEGER},
      site_id = #{siteId,jdbcType=INTEGER},
      it_type = #{itType,jdbcType=CHAR},
      img = #{img,jdbcType=VARCHAR},
      data_time = #{dataTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_uptime = #{lastUptime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertReturnPK" useGeneratedKeys="true" keyProperty="id" parameterType="com.fshl.xy.weizhan.entity.ImgText" >
    insert into img_text (id, buid, site_id, 
      it_type, img, data_time, 
      status, create_time, last_uptime, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{buid,jdbcType=INTEGER}, #{siteId,jdbcType=INTEGER}, 
      #{itType,jdbcType=CHAR}, #{img,jdbcType=VARCHAR}, #{dataTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{lastUptime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertBatch" parameterType="java.util.List" >
    insert into img_text
		(id,buid,site_id,it_type,img,data_time,status,create_time,last_uptime,remark)
	values 
	<foreach collection="list" item="item" separator="," index="index">
		(#{item.id,jdbcType=INTEGER},#{item.buid,jdbcType=INTEGER},#{item.siteId,jdbcType=INTEGER},#{item.itType,jdbcType=CHAR},#{item.img,jdbcType=VARCHAR},#{item.dataTime,jdbcType=TIMESTAMP},#{item.status,jdbcType=CHAR},#{item.createTime,jdbcType=TIMESTAMP},#{item.lastUptime,jdbcType=TIMESTAMP},#{item.remark,jdbcType=LONGVARCHAR})
	</foreach>
  </insert>
  <delete id="batchDel" >
    		delete from img_text
			where id in 
				<foreach collection="pks" item="item" separator="," open="(" close=")">
				#{item,jdbcType=INTEGER}
			</foreach>
  </delete>
  <update id="updateStatus" >
    		update img_text
			set ${statusColName} = #{delStatusVal, jdbcType=INTEGER}
			where id in 
				<foreach collection="pks" item="item" separator="," open="(" close=")">
				#{item,jdbcType=INTEGER}
			</foreach>
  </update>
  <select id="findByPks" resultMap="BaseResultMap" >
    		select 
			<include refid="BaseColumnList" />
			from img_text
			where id in 
				<foreach collection="pks" item="item" separator="," open="(" close=")"> 
					#{item,jdbcType=INTEGER}
				</foreach>
  </select>
  <select id="findAll" resultMap="ResultMapWithBLOBs" >
    select
		<include refid="BaseColumnList" />
        ,
        <include refid="Blob_Column_List" />
	from img_text
	<where>
		<trim suffixOverrides="and" >
			<if test="id != null and id > 0" >
				and id = #{id,jdbcType=INTEGER}
			</if>
			<if test="buid != null and buid > 0" >
				and buid = #{buid,jdbcType=INTEGER}
			</if>
			<if test="siteId != null and siteId > 0" >
				and site_id = #{siteId,jdbcType=INTEGER}
			</if>
			<if test="itType != null" >
				and it_type = #{itType,jdbcType=CHAR}
			</if>
			<if test="img != null and img != ''" >
				and img = #{img,jdbcType=VARCHAR}
			</if>
			<if test="status != null" >
				and status = #{status,jdbcType=CHAR}
			</if>
			<if test="remark != null and remark != ''" >
				and remark = #{remark,jdbcType=LONGVARCHAR}
			</if>
			<!--<if test="queryParam != null">
				<if test="queryParam.startDate != null and queryParam.startDate != '' ">
					and create_time &gt;= #{queryParam.startDate, jdbcType=VARCHAR} 
				</if>
				<if test="queryParam.endDate != null and queryParam.endDate != ''">
					and create_time &lt; date_add(#{queryParam.endDate, jdbcType=VARCHAR},interval 1 day)
				</if>
				<if test="queryParam.keyword != null and queryParam.keyword != ''">
					and (name like concat('%', #{queryParam.keyword, jdbcType=VARCHAR}, '%') or other_col like concat('%', #{queryParam.keyword, jdbcType=VARCHAR}, '%') )
				</if>
			</if>-->
		</trim>
	</where>
  </select>
</mapper>