<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fshl.xy.weizhan.dao.ProdDao" >
  <resultMap id="BaseResultMap" type="com.fshl.xy.weizhan.entity.Prod" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="buid" property="buid" jdbcType="INTEGER" />
    <result column="site_id" property="siteId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="short_name" property="shortName" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_uptime" property="lastUptime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="BaseColumnList" >
    id, buid, site_id, name, short_name, img, status, create_time, last_uptime
  </sql>
  <select id="findByPK" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="BaseColumnList" />
    from prod
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPK" parameterType="java.lang.Integer" >
    delete from prod
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fshl.xy.weizhan.entity.Prod" >
    insert into prod (id, buid, site_id, 
      name, short_name, img, 
      status, create_time, last_uptime
      )
    values (#{id,jdbcType=INTEGER}, #{buid,jdbcType=INTEGER}, #{siteId,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}, 
      #{status,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{lastUptime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPK" parameterType="com.fshl.xy.weizhan.entity.Prod" >
    update prod
    <set >
      <if test="buid != null" >
        buid = #{buid,jdbcType=INTEGER},
      </if>
      <if test="siteId != null" >
        site_id = #{siteId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null" >
        short_name = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUptime != null" >
        last_uptime = #{lastUptime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertReturnPK" useGeneratedKeys="true" keyProperty="id" parameterType="com.fshl.xy.weizhan.entity.Prod" >
    insert into prod (id, buid, site_id, 
      name, short_name, img, 
      status, create_time, last_uptime
      )
    values (#{id,jdbcType=INTEGER}, #{buid,jdbcType=INTEGER}, #{siteId,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}, 
      #{status,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{lastUptime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertBatch" parameterType="java.util.List" >
    insert into prod
		(id,buid,site_id,name,short_name,img,status,create_time,last_uptime)
	values 
	<foreach collection="list" item="item" separator="," index="index">
		(#{item.id,jdbcType=INTEGER},#{item.buid,jdbcType=INTEGER},#{item.siteId,jdbcType=INTEGER},#{item.name,jdbcType=VARCHAR},#{item.shortName,jdbcType=VARCHAR},#{item.img,jdbcType=VARCHAR},#{item.status,jdbcType=CHAR},#{item.createTime,jdbcType=TIMESTAMP},#{item.lastUptime,jdbcType=TIMESTAMP})
	</foreach>
  </insert>
  <delete id="batchDel" >
    		delete from prod
			where id in 
				<foreach collection="pks" item="item" separator="," open="(" close=")">
				#{item,jdbcType=INTEGER}
			</foreach>
  </delete>
  <update id="updateStatus" >
    		update prod
			set ${statusColName} = #{delStatusVal, jdbcType=INTEGER}
			where id in 
				<foreach collection="pks" item="item" separator="," open="(" close=")">
				#{item,jdbcType=INTEGER}
			</foreach>
  </update>
  <select id="findByPks" resultMap="BaseResultMap" >
    		select 
			<include refid="BaseColumnList" />
			from prod
			where id in 
				<foreach collection="pks" item="item" separator="," open="(" close=")"> 
					#{item,jdbcType=INTEGER}
				</foreach>
  </select>
  <select id="findAll" resultMap="BaseResultMap" >
    select
		<include refid="BaseColumnList"/>
	from prod
	<where>
		<trim suffixOverrides="and" >
			<if test="id != null and id > 0" >
				and id = #{id,jdbcType=INTEGER}
			</if>
			<if test="buid != null and buid > 0" >
				and buid = #{buid,jdbcType=INTEGER}
			</if>
			<if test="siteId != null and siteId > 0" >
				and site_id = #{siteId,jdbcType=INTEGER}
			</if>
			<if test="name != null and name != ''" >
				and name = #{name,jdbcType=VARCHAR}
			</if>
			<if test="shortName != null and shortName != ''" >
				and short_name = #{shortName,jdbcType=VARCHAR}
			</if>
			<if test="img != null and img != ''" >
				and img = #{img,jdbcType=VARCHAR}
			</if>
			<if test="status != null" >
				and status = #{status,jdbcType=CHAR}
			</if>
			<!--<if test="queryParam != null">
				<if test="queryParam.startDate != null and queryParam.startDate != '' ">
					and create_time &gt;= #{queryParam.startDate, jdbcType=VARCHAR} 
				</if>
				<if test="queryParam.endDate != null and queryParam.endDate != ''">
					and create_time &lt; date_add(#{queryParam.endDate, jdbcType=VARCHAR},interval 1 day)
				</if>
				<if test="queryParam.keyword != null and queryParam.keyword != ''">
					and (name like concat('%', #{queryParam.keyword, jdbcType=VARCHAR}, '%') or other_col like concat('%', #{queryParam.keyword, jdbcType=VARCHAR}, '%') )
				</if>
			</if>-->
		</trim>
	</where>
  </select>
</mapper>