<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fshl.xy.weizhan.dao.SiteInfoDao" >
  <resultMap id="BaseResultMap" type="com.fshl.xy.weizhan.entity.SiteInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="buid" property="buid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="short_name" property="shortName" jdbcType="VARCHAR" />
    <result column="contact_name" property="contactName" jdbcType="VARCHAR" />
    <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR" />
    <result column="contact_addr" property="contactAddr" jdbcType="VARCHAR" />
    <result column="wx_qrcode" property="wxQrcode" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="banner" property="banner" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_uptime" property="lastUptime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.fshl.xy.weizhan.entity.SiteInfo" extends="BaseResultMap" >
    <result column="remark" property="remark" jdbcType="LONGVARCHAR" />
    <result column="title" property="title" jdbcType="LONGVARCHAR" />
    <result column="keyword" property="keyword" jdbcType="LONGVARCHAR" />
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="BaseColumnList" >
    id, buid, name, short_name, contact_name, contact_phone, contact_addr, wx_qrcode, 
    qq, banner, create_time, last_uptime
  </sql>
  <sql id="Blob_Column_List" >
    remark, title, keyword, description
  </sql>
  <select id="findByPK" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="BaseColumnList" />
    ,
    <include refid="Blob_Column_List" />
    from site_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPK" parameterType="java.lang.Integer" >
    delete from site_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fshl.xy.weizhan.entity.SiteInfo" >
    insert into site_info (id, buid, name, 
      short_name, contact_name, contact_phone, 
      contact_addr, wx_qrcode, qq, 
      banner, create_time, last_uptime, 
      remark, title, keyword, 
      description)
    values (#{id,jdbcType=INTEGER}, #{buid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{shortName,jdbcType=VARCHAR}, #{contactName,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR}, 
      #{contactAddr,jdbcType=VARCHAR}, #{wxQrcode,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, 
      #{banner,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{lastUptime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=LONGVARCHAR}, #{title,jdbcType=LONGVARCHAR}, #{keyword,jdbcType=LONGVARCHAR}, 
      #{description,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPK" parameterType="com.fshl.xy.weizhan.entity.SiteInfo" >
    update site_info
    <set >
      <if test="buid != null" >
        buid = #{buid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null" >
        short_name = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        contact_name = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        contact_phone = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactAddr != null" >
        contact_addr = #{contactAddr,jdbcType=VARCHAR},
      </if>
      <if test="wxQrcode != null" >
        wx_qrcode = #{wxQrcode,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="banner != null" >
        banner = #{banner,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUptime != null" >
        last_uptime = #{lastUptime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=LONGVARCHAR},
      </if>
      <if test="keyword != null" >
        keyword = #{keyword,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.fshl.xy.weizhan.entity.SiteInfo" >
    update site_info
    set buid = #{buid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      short_name = #{shortName,jdbcType=VARCHAR},
      contact_name = #{contactName,jdbcType=VARCHAR},
      contact_phone = #{contactPhone,jdbcType=VARCHAR},
      contact_addr = #{contactAddr,jdbcType=VARCHAR},
      wx_qrcode = #{wxQrcode,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      banner = #{banner,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_uptime = #{lastUptime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=LONGVARCHAR},
      title = #{title,jdbcType=LONGVARCHAR},
      keyword = #{keyword,jdbcType=LONGVARCHAR},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertReturnPK" useGeneratedKeys="true" keyProperty="id" parameterType="com.fshl.xy.weizhan.entity.SiteInfo" >
    insert into site_info (id, buid, name, 
      short_name, contact_name, contact_phone, 
      contact_addr, wx_qrcode, qq, 
      banner, create_time, last_uptime, 
      remark, title, keyword, 
      description)
    values (#{id,jdbcType=INTEGER}, #{buid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{shortName,jdbcType=VARCHAR}, #{contactName,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR}, 
      #{contactAddr,jdbcType=VARCHAR}, #{wxQrcode,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, 
      #{banner,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{lastUptime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=LONGVARCHAR}, #{title,jdbcType=LONGVARCHAR}, #{keyword,jdbcType=LONGVARCHAR}, 
      #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertBatch" parameterType="java.util.List" >
    insert into site_info
		(id,buid,name,short_name,contact_name,contact_phone,contact_addr,wx_qrcode,qq,banner,create_time,last_uptime,remark,title,keyword,description)
	values 
	<foreach collection="list" item="item" separator="," index="index">
		(#{item.id,jdbcType=INTEGER},#{item.buid,jdbcType=INTEGER},#{item.name,jdbcType=VARCHAR},#{item.shortName,jdbcType=VARCHAR},#{item.contactName,jdbcType=VARCHAR},#{item.contactPhone,jdbcType=VARCHAR},#{item.contactAddr,jdbcType=VARCHAR},#{item.wxQrcode,jdbcType=VARCHAR},#{item.qq,jdbcType=VARCHAR},#{item.banner,jdbcType=VARCHAR},#{item.createTime,jdbcType=TIMESTAMP},#{item.lastUptime,jdbcType=TIMESTAMP},#{item.remark,jdbcType=LONGVARCHAR},#{item.title,jdbcType=LONGVARCHAR},#{item.keyword,jdbcType=LONGVARCHAR},#{item.description,jdbcType=LONGVARCHAR})
	</foreach>
  </insert>
  <delete id="batchDel" >
    		delete from site_info
			where id in 
				<foreach collection="pks" item="item" separator="," open="(" close=")">
				#{item,jdbcType=INTEGER}
			</foreach>
  </delete>
  <update id="updateStatus" >
    		update site_info
			set ${statusColName} = #{delStatusVal, jdbcType=INTEGER}
			where id in 
				<foreach collection="pks" item="item" separator="," open="(" close=")">
				#{item,jdbcType=INTEGER}
			</foreach>
  </update>
  <select id="findByPks" resultMap="BaseResultMap" >
    		select 
			<include refid="BaseColumnList" />
			from site_info
			where id in 
				<foreach collection="pks" item="item" separator="," open="(" close=")"> 
					#{item,jdbcType=INTEGER}
				</foreach>
  </select>
  <select id="findAll" resultMap="BaseResultMap" >
    select
		<include refid="BaseColumnList"/>
	from site_info
	<where>
		<trim suffixOverrides="and" >
			<if test="id != null and id > 0" >
				and id = #{id,jdbcType=INTEGER}
			</if>
			<if test="buid != null and buid > 0" >
				and buid = #{buid,jdbcType=INTEGER}
			</if>
			<if test="name != null and name != ''" >
				and name = #{name,jdbcType=VARCHAR}
			</if>
			<if test="shortName != null and shortName != ''" >
				and short_name = #{shortName,jdbcType=VARCHAR}
			</if>
			<if test="contactName != null and contactName != ''" >
				and contact_name = #{contactName,jdbcType=VARCHAR}
			</if>
			<if test="contactPhone != null and contactPhone != ''" >
				and contact_phone = #{contactPhone,jdbcType=VARCHAR}
			</if>
			<if test="contactAddr != null and contactAddr != ''" >
				and contact_addr = #{contactAddr,jdbcType=VARCHAR}
			</if>
			<if test="wxQrcode != null and wxQrcode != ''" >
				and wx_qrcode = #{wxQrcode,jdbcType=VARCHAR}
			</if>
			<if test="qq != null and qq != ''" >
				and qq = #{qq,jdbcType=VARCHAR}
			</if>
			<if test="banner != null and banner != ''" >
				and banner = #{banner,jdbcType=VARCHAR}
			</if>
			<if test="remark != null and remark != ''" >
				and remark = #{remark,jdbcType=LONGVARCHAR}
			</if>
			<if test="title != null and title != ''" >
				and title = #{title,jdbcType=LONGVARCHAR}
			</if>
			<if test="keyword != null and keyword != ''" >
				and keyword = #{keyword,jdbcType=LONGVARCHAR}
			</if>
			<if test="description != null and description != ''" >
				and description = #{description,jdbcType=LONGVARCHAR}
			</if>
			<!--<if test="queryParam != null">
				<if test="queryParam.startDate != null and queryParam.startDate != '' ">
					and create_time &gt;= #{queryParam.startDate, jdbcType=VARCHAR} 
				</if>
				<if test="queryParam.endDate != null and queryParam.endDate != ''">
					and create_time &lt; date_add(#{queryParam.endDate, jdbcType=VARCHAR},interval 1 day)
				</if>
				<if test="queryParam.keyword != null and queryParam.keyword != ''">
					and (name like concat('%', #{queryParam.keyword, jdbcType=VARCHAR}, '%') or other_col like concat('%', #{queryParam.keyword, jdbcType=VARCHAR}, '%') )
				</if>
			</if>-->
		</trim>
	</where>
  </select>
</mapper>