<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0" />
    <title></title>
    <link rel="stylesheet" href="../css/mui.min.css"/>
    <link rel="stylesheet" href="../css/index.css"/>
</head>
<body>
    <header class="zd_xqtoub">
        <a href="particulars.html">&lt;返回</a>
        <p>蛇果详情</p>
    </header>
    <div class="dh_pmianzs">
        <div class="zs_left">
            <img src="../image/11112.png" alt=""/>
        </div>
        <div class="zf_right">
            <div>
                <p>产品名称：山西蛇果</p>
                <p>产地：山西大同</p>
                <p>颜色：红色</p>
                <a href="#">立即咨询</a>
            </div>
        </div>
    </div>
    <div class="cp_guige">
        <div class="ge_top">产品规格参数</div>
        <div class="ge_bot">
            <p>功效：性寒</p>
            <p>年产量：3吨</p>
        </div>
    </div>
    <div class="qh_qxliuc">
        <div class="uc_qieh">
            <div class="hover">产品详情</div>
            <div>服务流程</div>
        </div>
        <div class="uc_neironx">
            <div class="nx_wuqts" style="margin: 0;">
                <span>产品名称</span>
                <div>
                    <select>
                        <option value ="volvo">Volvo</option>
                        <option value ="saab">Saab</option>
                        <option value="opel">Opel</option>
                        <option value="audi">Audi</option>
                    </select>
                    <i></i>
                </div>
            </div>
            <div class="nx_wuqts">
                <span>产品产地</span>
                <div>
                    <select>
                        <option value ="volvo">Volvo</option>
                        <option value ="saab">Saab</option>
                        <option value="opel">Opel</option>
                        <option value="audi">Audi</option>
                    </select>
                    <i></i>
                </div>
            </div>
            <div class="nx_wuqts">
                <span>产品颜色</span>
                <div>
                    <select>
                        <option value ="volvo">Volvo</option>
                        <option value ="saab">Saab</option>
                        <option value="opel">Opel</option>
                        <option value="audi">Audi</option>
                    </select>
                    <i></i>
                </div>
            </div>
            <div class="nx_wuqts">
                <span>产品规格</span>
                <div>
                    <select>
                        <option value ="volvo">Volvo</option>
                        <option value ="saab">Saab</option>
                        <option value="opel">Opel</option>
                        <option value="audi">Audi</option>
                    </select>
                    <i></i>
                </div>
            </div>
            <div class="nx_wuqts">
                <span>产品价格</span>
                <div>
                    <select>
                        <option value ="volvo">Volvo</option>
                        <option value ="saab">Saab</option>
                        <option value="opel">Opel</option>
                        <option value="audi">Audi</option>
                    </select>
                    <i></i>
                </div>
            </div>
        </div>
        <div class="gz_liuchent"><img src="../image/fankui_lc.jpg" alt=""/></div>
    </div>
    <div style="height: 3rem;"></div>
    <a class="lj_zhixun" href="#">立 即 咨 询</a>
    <script src="/static/weizhan/js/jquery-1.7.2.min.js"></script>
    <script src="/static/weizhan/js/common.js?v=1"></script>
</body>
</html>