<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0" />
    <title></title>
    <link rel="stylesheet" href="../css/mui.min.css"/>
    <link rel="stylesheet" href="../css/index.css"/>
</head>
<body>
    <div class="wo_dongt">
        <div class="gt_zhidt">
            <div class="dt_time">2018年12月20日</div>
            <div class="dt_tuwhp">
                <p>习近平总书记来场地考察</p>
                <img src="../image/cbd.jpg" alt=""/>
            </div>
        </div>
        <div class="gt_zhidt">
            <div class="dt_time">2018年12月20日</div>
            <div class="dt_tuwhp">
                <p>习近平总书记来场地考察</p>
                <img src="../image/cbd.jpg" alt=""/>
            </div>
        </div>
        <div class="gt_zhidt">
            <div class="dt_time">2018年12月20日</div>
            <div class="dt_tuwhp">
                <p>习近平总书记来场地考察</p>
                <img src="../image/cbd.jpg" alt=""/>
            </div>
        </div>
    </div>
    <a class="lj_zhixun" href="#">立 即 咨 询</a>
    <div style="height: 8rem;"></div>
    <div class="db_daoh">
        <a href="../index.html">
            <div>
                <img src="../image/dbdht01.png" alt=""/>
                <p>首页</p>
            </div>
        </a>
        <a href="environment.html">
            <div>
                <img src="../image/dbdht02.png" alt=""/>
                <p>环境</p>
            </div>
        </a>
        <a href="particulars.html">
            <div>
                <img src="../image/dbdht03.png" alt=""/>
                <p>产品</p>
            </div>
        </a>
        <a class="hover" href="dynamic.html">
            <div>
                <img src="../image/dbdht04.png" alt=""/>
                <p>动态</p>
            </div>
        </a>
    </div>
    <script src="../js/jquery-1.7.2.min.js"></script>
    <script src="../js/common.js"></script>
</body>
</html>