<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0" />
    <title></title>
    <link rel="stylesheet" href="../css/mui.min.css"/>
    <link rel="stylesheet" href="../css/index.css"/>
</head>
<body>
    <div class="wod_erwm">
        <div class="wm_top">
            <a href="#">&lt; 二维码名片</a>
        </div>
        <div class="wm_bgbot">
            <div>
                <img src="../image/mp_erweim.jpg" alt=""/>
                <p>扫二维码加关注</p>
            </div>
        </div>
    </div>
    <a class="lj_zhixun" href="#">立 即 咨 询</a>
    <script src="../js/jquery-1.7.2.min.js"></script>
    <script src="../js/common.js"></script>
</body>
</html>